/* Replace "Library" with "Favorites" */
#library-button > .toolbarbutton-text {
text-indent: -9999px !important;
line-height: 1 !important; /* Collapse the original line */
}
#library-button>.toolbarbutton-text::After {
content: "Favorites" !important;
text-indent: 0 !important;
display: flex !important;
background-color: transparent !important;
}

